<html lang="eng">
  <head>
    <title>Remote Proctor</title>
  </head>
  <body>
    <h1>Remote Proctor Detection</h1>
    <img src="{{ url_for('video_feed') }}" alt="Video Screen">
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
  </body>
</html>
